/* Master styles */

header {
    font-family: Verdana;
    font-size: 35px;
    background-color:  #7395ae;
    border-style: outset;

} 
body{
    
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    background-color: #7395ae;
}
.icons {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.footy {
    font-family: Verdana;
    font-size: 35px;
    background-color: #7395ae;
    bottom: 0px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    }

/* Navigation styles */
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}
.lefty {
    display: flex;
}
.navigation > .lefty > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link {
    height: 55px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a {
    color:black;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link:hover {
    border-bottom: 3px solid lightgray;
}
.nav-link a:hover {
    color: lightgray;
}
/* main*/
.profile-pic {
    position: absolute;
    right: 15%;
    border: 10px solid #888888;
}
.text {
    font-family: Verdana;
    font-size: 20px;
    background: #557a95;
    float: left;
    width: 50%; 
    padding: 5px;
    box-shadow: 5px 10px #888888;
}